PORT=8080
FRONTEND_ORIGIN=http://localhost:3000
BACKEND_URL=http://localhost:5000
RECOMMENDATION_SERVICE_URL=http://localhost:5003
DEGREE_SERVICE_URL=http://localhost:5001
BUDGET_SERVICE_URL=http://localhost:5002
